.login {
  @media screen and (min-width: 475px) {
    max-width: 360px;
  }

  &-container {
    background-color: var(--bluegray-50);
  }

  &-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
