.app {
  &-container {
    background-color: var(--bluegray-50);
  }

  &-header {
    background-color: var(--bluegray-50);
  }

  &-menu {
    &-container {
      @apply bg-white lg:bg-transparent;
      background-color: var(--bluegray-50);

      &.is-open {
        @apply w-60;
      }

      &.is-close {
        @apply -ml-60 w-60 lg:ml-0 lg:w-24 ;
      }
    }

    &-item {
      &:hover, &.is-active {
        box-shadow: inset 0 0 0 0.1rem #81a1c1;
      }

      &.is-close {
        @apply bg-transparent shadow-none;
      }
    }

    &-overlay {
      background-color: rgba(112, 120, 136, 0.5);
    }
  }
}
