.card {
  &:hover {
    .card-menu {
      @apply opacity-100;
    }
  }

  &-menu {
    @apply opacity-0 duration-200;
  }

  &-wrapper {
    background-color: var(--wripper-color, --surface-ground);
  }

  &-active &-wrapper {
    background: #D8DEE9;
    color: #2E3440;
  }
}
