.app {
  &-logo {
    .normal {
      width: 32px;
    }

    .large {
      width: 64px;
    }
  }

  &-name {
    font-family: 'Comic Neue', cursive;
  }
}

.icon-button.p-button {
  &.p-button-raised {
    @apply bg-white shadow;
    color: var(--primary-color);
  }

  &.is-active {
    background-color: rgba(94, 129, 172, 0.12);
  }
}
