.app {
  &-logo {
    .large {
      width: 64px;
    }
  }

  &-name {
    font-family: 'Comic Neue', cursive;
  }
}

.login {
  @media screen and (min-width: 475px) {
    max-width: 360px;
  }

  &-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
