.app {
  &-logo {
    .normal {
      width: 32px;
    }

    .large {
      width: 64px;
    }
  }

  &-name {
    font-family: 'Comic Neue', cursive;
  }
}

.icon-button.p-button {
  @apply duration-200;
  color: var(--primary-color);

  &.is-active, &:enabled:hover {
    @apply bg-white;
    box-shadow: inset 0 0 0 0.1rem #81a1c1;
  }

  &.p-button-icon-only.p-button-rounded {
    @apply w-12 h-12;
  }
}

.product-image {
  &.p-avatar.p-avatar-xl {
    @apply w-full rounded-lg;

    &.admin {
      @apply h-44;
    }

    &.app {
      @apply h-24;
    }
  }
}
